## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [6]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [7]:
# View the column names in the data
df.columns

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [8]:
# Use the describe function to gather some basic statistics
df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [13]:
# Use this space to do any additional research
# and familiarize yourself with the data.
if 'category' in df.columns:
    item_categories = df['category'].value_counts().head(3)
    print(item_categories)
else:
    print("The column 'category' does not exist in the DataFrame.")

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [15]:
# What three item categories had the most entries?
item_categories = df['category'].value_counts().head(3)
print(item_categories)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [19]:
# For the category with the most entries, which subcategory had the most entries?
most_popular_category = df['category'].value_counts().idxmax()
    
# Filter the DataFrame to get only the rows of the most popular category
filtered__popular_df = df[df['category'] == most_popular_category]
    
# Get the most popular subcategory within the filtered DataFrame
most_popular_subcategory = filtered__popular_df['subcategory'].value_counts().head(1)
    
print(most_popular_subcategory)

subcategory
bathroom supplies    6424
Name: count, dtype: int64

In [20]:
# Which five clients had the most entries in the data?
client_counts = df['client_id'].value_counts().head(5)
print(client_counts)

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [21]:
# Store the client ids of those top 5 clients in a list.

top_5_clients = list(client_counts.index)

print(top_5_clients)

[33615, 66037, 46820, 38378, 24741]

In [23]:
# How many total units (the qty column) did the client with the most entries order order?
big_spender = df['client_id'].value_counts().head(1)
big_spender_units = df[df['client_id'] == big_spender.index[0]]['qty'].sum()

print(big_spender_units)

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [26]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty
subtotal = df['unit_price'] * df['qty']
df["Subtotal"] = subtotal
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,Subtotal
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,UCA28532-31-0B,software,logistics,83.13,51.60,2.25,33,8,2743.29
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,XMZ38239-49-3D,furniture,stands,1.48,1.22,18.04,112,0,165.76
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,ZCZ05589-50-5D,software,project management,3.01,1.61,2.07,1031,5,3103.31

In [29]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
total_weight = df['unit_weight'] * df['qty']
df["Total Weight"] = total_weight

def shipping_price(row):
    if row["Total Weight"] > 50:
        return row["Total Weight"] * 7
    else:
        return row["Total Weight"] * 10
    
df["Shipping Price (LB's)"] = df.apply(shipping_price, axis=1)
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,Subtotal,Shipping Price,Shipping Price (LB's),Total Weight
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,wall art,1096.80,762.71,7.50,105,1,115164.00,75.0,5512.50,787.50
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,pens,24.95,15.09,1.49,21,0,523.95,14.9,312.90,31.29
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,project management,13.52,7.86,1.68,39,6,527.28,16.8,458.64,65.52
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,pens,36.42,24.85,1.23,29,3,1056.18,12.3,356.70,35.67
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,misc,195.10,108.17,46.43,20,1,3902.00,464.3,6500.20,928.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,logistics,83.13,51.60,2.25,33,8,2743.29,22.5,519.75,74.25
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,117.0,3849.30,549.90
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,41.6,13832.00,1976.00
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,stands,1.48,1.22,18.04,112,0,165.76,180.4,14143.36,2020.48
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,project management,3.01,1.61,2.07,1031,5,3103.31,20.7,14939.19,2134.17

In [32]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%
Total_Price1 = df["Subtotal"] + df["Shipping Price (LB's)"]

Total_Price = (Total_Price1 * 0.0925) + Total_Price1
df["Total Price"] = Total_Price.round(2)
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_price,unit_cost,unit_weight,qty,line_number,Subtotal,Shipping Price,Shipping Price (LB's),Total Weight,Total Price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,1096.80,762.71,7.50,105,1,115164.00,75.0,5512.50,787.50,131839.08
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,24.95,15.09,1.49,21,0,523.95,14.9,312.90,31.29,914.26
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,13.52,7.86,1.68,39,6,527.28,16.8,458.64,65.52,1077.12
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,36.42,24.85,1.23,29,3,1056.18,12.3,356.70,35.67,1543.57
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,195.10,108.17,46.43,20,1,3902.00,464.3,6500.20,928.60,11364.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,83.13,51.60,2.25,33,8,2743.29,22.5,519.75,74.25,3564.87
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,206.59,175.46,11.70,47,0,9709.73,117.0,3849.30,549.90,14813.24
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,65.66,57.31,4.16,475,6,31188.50,41.6,13832.00,1976.00,49184.90
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,1.48,1.22,18.04,112,0,165.76,180.4,14143.36,2020.48,15632.71
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,3.01,1.61,2.07,1031,5,3103.31,20.7,14939.19,2134.17,19711.43

In [35]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).
line_subtotal = df["unit_cost"] * df["qty"]

df["Line Subtotal"] = line_subtotal

line_cost = line_subtotal + df["Shipping Price (LB's)"]

df["Line Cost"] = line_cost

df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_weight,qty,line_number,Subtotal,Shipping Price,Shipping Price (LB's),Total Weight,Total Price,Line Cost,Line Subtotal
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,7.50,105,1,115164.00,75.0,5512.50,787.50,131839.08,85597.05,80084.55
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,1.49,21,0,523.95,14.9,312.90,31.29,914.26,629.79,316.89
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,1.68,39,6,527.28,16.8,458.64,65.52,1077.12,765.18,306.54
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,1.23,29,3,1056.18,12.3,356.70,35.67,1543.57,1077.35,720.65
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,46.43,20,1,3902.00,464.3,6500.20,928.60,11364.40,8663.60,2163.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,2.25,33,8,2743.29,22.5,519.75,74.25,3564.87,2222.55,1702.80
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,11.70,47,0,9709.73,117.0,3849.30,549.90,14813.24,12095.92,8246.62
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,4.16,475,6,31188.50,41.6,13832.00,1976.00,49184.90,41054.25,27222.25
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,18.04,112,0,165.76,180.4,14143.36,2020.48,15632.71,14280.00,136.64
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,2.07,1031,5,3103.31,20.7,14939.19,2134.17,19711.43,16599.10,1659.91

In [37]:
# Create a column for the profit of each line using line cost and line price
profit = df["Total Price"] - df["Line Cost"]

df["Profit"] = profit

df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,qty,line_number,Subtotal,Shipping Price,Shipping Price (LB's),Total Weight,Total Price,Line Cost,Line Subtotal,Profit
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,105,1,115164.00,75.0,5512.50,787.50,131839.08,85597.05,80084.55,46242.03
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,21,0,523.95,14.9,312.90,31.29,914.26,629.79,316.89,284.47
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,39,6,527.28,16.8,458.64,65.52,1077.12,765.18,306.54,311.94
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,29,3,1056.18,12.3,356.70,35.67,1543.57,1077.35,720.65,466.22
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,20,1,3902.00,464.3,6500.20,928.60,11364.40,8663.60,2163.40,2700.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,33,8,2743.29,22.5,519.75,74.25,3564.87,2222.55,1702.80,1342.32
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,47,0,9709.73,117.0,3849.30,549.90,14813.24,12095.92,8246.62,2717.32
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,475,6,31188.50,41.6,13832.00,1976.00,49184.90,41054.25,27222.25,8130.65
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,112,0,165.76,180.4,14143.36,2020.48,15632.71,14280.00,136.64,1352.71
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,1031,5,3103.31,20.7,14939.19,2134.17,19711.43,16599.10,1659.91,3112.33

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [56]:
# Check your work using the totals above
# def generate_receipt(order_id):
#     # Check if order_id exists in the DataFrame
#     if order_id in df['order_id'].values:
#         # Filter the DataFrame to get the row for the specific order_id
#         order_row = df.loc[df['order_id'] == order_id]
        
#         # Extract the relevant information
#         total_price = order_row['Total Price'].values[0]
        
#         # Generate the receipt
#         receipt = f"Receipt for Order ID: {order_id}\n"
#         receipt += f"Total Price: ${total_price:.2f}\n"
        
#         return receipt
#     else:
#         return f"No data found for Order ID: {order_id}"
# proof1 = generate_receipt(8953482)
# print(proof1)
# proof2 = generate_receipt(7489403)
# print(proof2)
# proof3 = generate_receipt(6128929)

# print(proof3)
for order_id in [2742071, 2173913, 6128929]:
    Total_Price = df[df['order_id'] == order_id]['Total Price'].sum()
    print(f"For Order ID {order_id}, the Total Price is: ${Total_Price:.2f}")

For Order ID 2742071, the Total Price is: $152811.89
For Order ID 2173913, the Total Price is: $162388.71
For Order ID 6128929, the Total Price is: $923441.25

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [57]:
# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.
for client_id in [33615, 66037, 46820, 38378, 24741]:
    Total_Spend = df[df['client_id'] == client_id]['Total Price'].sum()
    print(f"For the Client ID {client_id}, the Total Spend is: ${Total_Spend:.2f}")

For the Client ID 33615, the Total Spend is: $8377308.52
For the Client ID 66037, the Total Spend is: $10259514.79
For the Client ID 46820, the Total Spend is: $9743794.36
For the Client ID 38378, the Total Spend is: $12906550.87
For the Client ID 24741, the Total Spend is: $82268892.02

In [61]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit. 
top_5_clients = []
for client_id in [33615, 66037, 46820, 38378, 24741]:
    Total_Quantity = df[df['client_id'] == client_id]['qty'].sum()
    Total_Shipping = df[df['client_id'] == client_id]['Shipping Price (LB\'s)'].sum()
    Total_Price = df[df['client_id'] == client_id]['Total Price'].sum()
    Total_Line_Cost = df[df['client_id'] == client_id]['Line Cost'].sum()
    Total_Profit = df[df['client_id'] == client_id]['Profit'].sum()

    top_5_clients.append({
        'client_id': client_id,
        'Total_Quantity': Total_Quantity,
        'Total_Shipping': Total_Shipping,
        'Total_Price': Total_Price,
        'Total_Line_Cost': Total_Line_Cost,
        'Total_Profit': Total_Profit
    })

#top_5_clients_df = df.loc[df['client_id'].isin([33615, 66037, 46820, 38378, 24741]), ['client_id', 'qty', 'Shipping Price (LB\'s)', 'Total Price', 'Line Cost', 'Profit']] 

top_5_clients_df = pd.DataFrame(top_5_clients)

top_5_clients_df

,client_id,Total_Quantity,Total_Shipping,Total_Price,Total_Line_Cost,Total_Profit
0,33615,64313,1828984.89,8377308.52,6175313.91,2201994.61
1,66037,43018,1395151.85,10259514.79,7004482.98,3255031.81
2,46820,75768,1601448.84,9743794.36,7007191.64,2736602.72
3,38378,73667,3429455.40,12906550.87,9634720.98,3271829.89
4,24741,239862,5126448.37,82268892.02,45688899.71,36579992.31

In [63]:
# Format the data and rename the columns to names suitable for presentation.
top_5_clients_df_renamed = top_5_clients_df.rename(columns={"client_id": "Client ID", 
                                                            "Total_Quantity": "Units", 
                                                            "Total_Shipping": "Shipping (millions)",
                                                            "Total_Price": "Total Revenue (millions)",
                                                            "Total_Line_Cost": "Total Cost (millions)",
                                                            "Total_Profit": "Total Profit (millions)"
    
})
# Define the money columns. 
money_columns = ['Shipping (millions)', 'Total Revenue (millions)', 'Total Cost (millions)', 'Total Profit (millions)']
# Define a function that converts a dollar amount to millions.
def currency_format_millions(x):
    return x/1000000

   

# Apply the currency_format_millions function to only the money columns. 
top_5_clients_df_renamed[money_columns] = top_5_clients_df_renamed[money_columns].applymap(currency_format_millions)

# Rename the columns to reflect the change in the money format. 
top_5_clients_df_renamed

C:\Users\carls\AppData\Local\Temp\ipykernel_12752\3362245158.py:19: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  top_5_clients_df_renamed[money_columns] = top_5_clients_df_renamed[money_columns].applymap(currency_format_millions)

,Client ID,Units,Shipping (millions),Total Revenue (millions),Total Cost (millions),Total Profit (millions)
0,33615,64313,1.828985,8.377309,6.175314,2.201995
1,66037,43018,1.395152,10.259515,7.004483,3.255032
2,46820,75768,1.601449,9.743794,7.007192,2.736603
3,38378,73667,3.429455,12.906551,9.634721,3.271830
4,24741,239862,5.126448,82.268892,45.688900,36.579992

In [64]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.
total_profit_sorted = top_5_clients_df_renamed.sort_values(by=['Total Profit (millions)'], ascending=False)
total_profit_sorted

,Client ID,Units,Shipping (millions),Total Revenue (millions),Total Cost (millions),Total Profit (millions)
4,24741,239862,5.126448,82.268892,45.688900,36.579992
3,38378,73667,3.429455,12.906551,9.634721,3.271830
1,66037,43018,1.395152,10.259515,7.004483,3.255032
2,46820,75768,1.601449,9.743794,7.007192,2.736603
0,33615,64313,1.828985,8.377309,6.175314,2.201995